@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
nav .logo{
    width: 82.02px;
    margin-top: 22px;
    margin-left: 30px;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero img{
    max-width: 400px;
    margin-top: 26px;
    align-self: center;
}
.hero .text{
    width: 347px;
    margin-left: 36px;
    margin-top: 32px;
}
.hero .text h1{
    font-weight: 600;
    line-height: 39.6px;
    font-size: 36px;
    margin-bottom: 16px;

}
.here .text p{
    font-weight: 300;
    line-height: 17.6px;
}
.cards-list{
    display: flex;
    flex-direction: row;
}
.card{
    margin-top: 49px;
    margin-left: 36px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    position:relative;
}
.card .experience-img{
    width: 176px;
    border-radius: 9px;
}
.card .star-div{
    margin-top: 9px;
    display: flex;
    gap:2px;
    align-items: center;
}
.card .star-div .star{
    height: 14px;
}
.card .star-div .gray {
    color: #918E9B;
}
.card p,span{
    margin-top: 8px;
    font-size: 12px;
    line-height:13px;
    font-weight: 300;
}
.card-badge{
    position:absolute;
    top:6px;
    left:6px;
    background-color: white;
    padding:5px 7px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
}